$BG-Light-High_Text-Blue-Dark: #0112A4;
$BG-Blue-Light: #011DCE;
$BG-Orange-Light-High: #F97006;
$BG-Gray-Dark-Light-High: #F0F0F7;
$BG_Text-Main-White: #F8F9FF;
$Text-Orange-Light-High: #E86601;
$Text-Main-Black-Dark: #262626;
$Text-Error: #DE0011;

@font-face {
  font-family: 'OpenSans';
  src: url('../../../../assets/fonts/OpenSans-Regular.ttf') format("truetype-variations");
  font-weight: 1 999;
}